// Globals

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-purple);
  color: white;
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
  vertical-align: baseline;
  position: relative;
  text-align: center;
}

svg {
  max-width: 100%;
  height: auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Stuff

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 30px 20px;
}

h1 {
  position: relative;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--color-purple--darker);
  margin-bottom: 3vw;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--color-red);
}

.illustration {
  margin: 2vw 0;
}
