@import "utils/fluidtype";

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Quicksand-Regular.woff2") format("woff2"),
    url("/fonts/Quicksand-Regular.woff") format("woff");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Quicksand-Bold.woff2") format("woff2"),
    url("/fonts/Quicksand-Bold.woff") format("woff");
}

// Fluid typography
$minWidth: 320px;
$maxWidth: 1440px;

body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.45;
  @include fluid-type($minWidth, 1000px, 18px, 24px);
}

h1,
.h1,
.text-large {
  @include fluid-type($minWidth, $maxWidth, 36px, 75px);
  font-weight: bold;
  line-height: 1.2;
}

h2,
.h2,
.text-medium {
  @include fluid-type($minWidth, $maxWidth, 28px, 42px);
  font-weight: bold;
}

.text-body {
  @include fluid-type($minWidth, 1000px, 18px, 24px);
}
